h2{
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: "Rubik Doodle Triangles", system-ui;
    font-weight: 500;
    font-style: normal;
      
}
h3 {
    font-family: "Gorditas", serif;
    font-weight: 700;
    font-style: normal;
  }

p{
    font-family: "Gorditas", serif;
    font-weight: 400;
    font-style: normal;
}
#irArriba{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;

}
.botones{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botones:hover{
    background-color: #45a049;
  }
  .botones:active {
    background-color: #3e8e41;
  }
  .botones2{
    background-color: aqua;
    color: black;
    margin: auto;
  }
.card:hover{
  transform: translateY(-10px);
  box-shadow: 1.25px 1.25px 10px rgba(0, 0, 0, 0.5);
}  

.social{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 10px;
  flex-wrap: wrap;
}
.soc-elem{
  list-style: none;
}
.icon{
  color: aliceblue;
  font-size: 32px;
  display: inline-block;
  margin: 0 40px;
  transition: o.5s;
}
.icon:hover{
  transform: translateY(-10px);
}
.info{
  color: antiquewhite;
  font-size: 20px;
  display: inline-block;
  margin: 5px 10px;
  opacity: 0.75;
}
.text{
  color: antiquewhite;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}
#contbusca{
  background-color: #88ddab;
}
